# Virtual environments
.venv/
venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# IDE / editor settings
.vscode

# Packaging / test artifacts
*.egg-info/
.pytest_cache/
dist/
build/

# Git metadata
.git/
.gitignore

# Local data
*.db
*.sqlite
*.sqlite3

# Environment files
.env
.env.*

# Personal notes
PersonalLog.md