# Virtual environments
.venv/
venv/

# Distribution / packaging
*.egg-info/

# Unit test / coverage reports
.pytest_cache/

# IDE / editor settings
*.vscode/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Database files
*.db
demo.sqlite
invoicedb.sqlite

# Personal notes
PersonalLog.md