# Virtual environments
.venv/
venv/

# Distribution / packaging
*.egg-info/

# Unit test / coverage reports
.pytest_cache/
.coverage

# IDE / editor settings
*.vscode/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Database files
*.db
db.sqlite3
demo.sqlite
invoicedb.sqlite

# Personal notes
PersonalLog.md

#Unsure
.env

#Classifier evaluation
invoice_db/assistant/evaluation_runs/*.json